<h2>Car Crawler Status</h2>

<app-chart [chartData]="crawlerResponse"></app-chart>

<div style="display: flex; justify-content: space-between;">
  <mat-card style="margin-top: 2em; width: 20%; min-height: 256px;" class=" mat-dark-theme">
    <mat-card-header>
      <mat-card-title>Max Price</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>The maximum price is: {{123}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2em; width: 20%; min-height: 256px;" class=" mat-dark-theme">
    <mat-card-header>
      <mat-card-title>Max Price</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>The maximum price is: {{123}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2em; width: 20%; min-height: 256px;" class=" mat-dark-theme">
    <mat-card-header>
      <mat-card-title>Max Price</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>The maximum price is: {{123}}</p>
    </mat-card-content>
  </mat-card>
</div>


