/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #404040;
}

.spacer {
  flex: 1 1 auto;
}

.highcharts-background {
  fill: rgb(0 0 0) !important;
}

.highcharts-title {
  color: white !important;
  fill: white !important;
}

.mat-mdc-card.mdc-card.mat-dark-theme {
  background: #303030;
}

.mat-drawer-content.mat-sidenav-content {
  background-color: #404040;
  color: white !important;
}
